body {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    rgb(120, 1, 255),
    rgb(0, 153, 255),
    rgb(24, 113, 255),
    blue
  );
}
li {
  list-style-type: upper-roman;
  color: hotpink;
}
a,
a:visited {
  color: rgb(229, 255, 0);
  text-shadow: 2px 2px rgb(0, 29, 190);
}
p {
  text-shadow: 0.5px 0.5px rgb(229, 255, 0);
}

.done {
  color: red;
  font-weight: bolder;
  font-style: italic;
  text-decoration: line-through;
}

.inProg {
  color: rgb(0, 226, 0);
  text-shadow: 1px 1px rgb(60, 255, 0);
  font-weight: bold;
  text-decoration: underline overline;
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #ccc;
  background: #333;
  padding: 8px;
  background: linear-gradient(to bottom, rgb(0, 255, 213), greenyellow);
  text-shadow: 0.5px 0.5px rgb(0, 35, 110);
  opacity: 0.5;
}
