<h1>Add a new item</h1>

<form action="/categories" method="post">
  <label for="categoryDescription">Category Description</label>
  <input id="categoryDescription" name="categoryDescription" type="text">
  <button type='submit'>Add Category</button>
</form>